<header th:fragment="header">
    <nav>
        <div>
            <a th:href="@{/}">
                LedSvet51
            </a>
            <ul>
                <li>
                    <a th:href="@{/}"> Главная </a>
                </li>
                <li>
                    <a th:href="@{/users}"> Пользователи </a>
                </li>
                <li>
                    <a th:href="@{/phoneSearch}"> Поиск </a>
                </li>
            </ul>
        </div>
    </nav>
</header>