<th:block th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">ЛедСвет51</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" th:href="@{/users}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users/add}">Добавить пользователя</a>
                    </li>
                </ul>
<!--                <a class="nav-link" th:href="@{/phoneSearch}">Поиск</a>-->
            </div>
            <a th:href="@{/phoneSearch}" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Поиск</a>
        </div>
    </nav>
</th:block>

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Navbar w/ text</a>-->
<!--    <div class="collapse navbar-collapse" id="navbarText">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--        </ul>-->
<!--        <span class="navbar-text">-->
<!--      Navbar text with an inline element-->
<!--    </span>-->
<!--    </div>-->
<!--</nav>-->
