<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <!--  <script th:src="@{../static/js/main.js}"></script>-->
</head>
<body>

<div th:replace="~{fragments/header :: headerFragment}"></div>

<a th:href="@{/users/create}">Add new user</a>

<div th:if="${users.size() > 0}">
    <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Имя</th>
            <th scope="col">Телефон</th>
            <th scope="col">Скидка</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row" th:name="id + ${user.id}">[[${user.id}]]</th>
            <td>[[${user.firstName}]]</td>
            <td>[[${user.phoneNumber}]]</td>
            <td>[[${user.sale.getValue()}]]</td>
        </tr>
        </tbody>
    </table>
</div>

<script th:src="@{/js/main.js}"></script>
</body>
</html>